$color-black: black;
$color-purple: purple;
$color-red: red;
$color-grey: grey;
$colors: ('black': $color-black, 'purple': $color-purple, 'red': $color-red, 'grey': $color-grey);
// body {
//     color: $color-black;
//     background-color: $color-red;
// }
//$iota-utils-color-names: $colors;